.header {
    padding: 10px 10px 10px;
    text-align: center;
    font-family: $font-secondary4;
    font-style: italic;
    font-weight: 900;
    background: $gradient-bgd2;

    &__title {
        color: gray;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
    }

    &__subtitle {
        color: lightcoral;
        font-size: 16px;
        padding: 5px;
    }

}