@import '../core/variables';
@import '../core/mixins';

.main {
    background: $gradient-bgd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.quotes {

    padding: 30px 10px;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        @include Tablet() {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

    }

    &__elem {
        margin-bottom: 10px;
        padding: 16px;
        width: 200px;
        list-style: none;
        border-radius: 12px;
        border: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        background-color: $color-primary2;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: #fff;

        &--text {
            font-family: $font-secondary;
            font-style: italic;
        }

        &--char {
            font-size: 14px;
            padding-top: 10px;
            font-family: $font-secondary4;
            font-weight: 700;
            text-align: right;
        }
    }
}

.search {
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff5c;



    @include Tablet() {
        display: flex;
        flex-direction: row;
    }

    &__label {
        padding: 15px;
        font-size: 12px;
    }

    &__input {
        width: 250px;
        border-radius: 8px;
        color: $color-primary2;
        font-size: 12px;
        padding: 5px;
        border: none;
        font-style: italic;

        &:hover {
            color: $color-secondary;
            font-weight: 700;
            border: $color-primary;
            background-color: $color-primary2;
        }
    }

    &__select {
        width: 250px;
        border-radius: 8px;
        color: $color-primary2;
        font-size: 12px;
        padding: 5px;
        border: none;

        &:hover {
            color: $color-secondary3;
            font-weight: 700;
            border: $color-primary;
            background-color: $color-primary2;
        }
    }
}

.addquotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    background-color: #ffffff5c;
    padding: 10px;


    @include Tablet() {
        flex-direction: row;
        justify-content: space-around;
    }


    &__title {
        color: $color-primary2;
        font-family: $font-secondary3;
        font-size: 1.42rem;
    }

    &__label {
        color: $color-primary2;
        font-size: 12px;
        padding: 5px;
    }

    &__input {
        width: 250px;
        border-radius: 8px;
        color: $color-primary2;
        font-size: 10px;
        padding: 5px;
        border: none;
        font-style: italic;

        &:hover {
            color: $color-secondary3;
            font-weight: 700;
            border: $color-primary;
            background-color: $color-secondary2;
        }
    }

    &__btn {
        margin: 1ch;
        background: $color-secondary3;
        color: $color-primary2 ;
        padding: 10px;
        height: 50px;
        border-radius: 25px;
        border: none;
        font-family: $font-main;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            color: $color-primary2;
            font-size: 1.1rem;
            box-shadow: 0 4px 10px $color-secondary2;
            transition: all 0.2s ease;
        }
    }
}