.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__search {
        width: 100vw;
        background: $gradient-bgd;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__addquotes {
        width: 100vw;
        padding: 20px;
        background: $gradient-bgd;
    }
}

.quotes {
    background: $gradient-bgd2;
    padding: 10px;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__elem {
        margin-bottom: 10px;
        padding: 16px;
        width: 200px;
        list-style: none;
        border-radius: 12px;
        border: 1px solid #ddd;
        background-color: $color-primary2;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: #fff;

        &--text {
            font-family: $font-secondary;
            font-style: italic;
        }

        &--char {
            font-size: 14px;
            padding-top: 10px;
            font-family: $font-secondary4;
            font-weight: 700;
            text-align: right;
        }
    }
}

.search {
    padding: 30px;
    width: 100%;

    &__label {
        padding: 15px;
        font-size: 12px;
    }

    &__input {
        color: $color-primary2;
        font-size: 12px;
        padding: 5px;
        border: none;
    }

    &__select {
        color: $color-primary2;
        font-size: 12px;
        padding: 5px;
        border: none;
    }
}

.addquotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
        color: $color-primary2;
        font-family: $font-secondary3;
    }

    &__label {
        color: $color-primary2;
        font-size: 12px;
        padding: 5px;
    }

    &__input {
        color: $color-primary2;
        font-size: 10px;
        padding: 5px;
        border: none;
        margin: 5px;
    }

    &__btn {
        background: $color-secondary;
        color: $color-primary2 ;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-family: $font-main;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
    }
}